/* General style settings */

body {
    background-image: url('../images/MockBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-color: lightgray;*/
}

.blog-post {
    background-color: azure;
    max-width: 800px;
    margin: 2.5% auto;
    padding: 1.2%;
    box-sizing: border-box;
    box-shadow: 0 0 20px gray;
}

.unselectable {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


/* PAGES */

.page {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    /*padding: 50px;*/
    /*overflow-x: hidden;*/
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.center-adjusted {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* BUTTON related changes */

button {
    height: 100px;
    width: 275px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

button:disabled {
    filter: brightness(25%);
}

button:enabled {
    filter: brightness(75%);
}

button:enabled:hover {
    filter: brightness(100%);
}

img {
    float: left;
    vertical-align: middle;
}

/* ENTRY_IMG id */

#entry_img {
    transform: scale(1);
    transition: transform 0.5s ease-in;
}

#entry_img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-out;
}

#entry_img:active:hover {
    transform: scale(1.3);
    transition: transform 0.35s ease-out;
}
