/* General style settings */

body {
    background-color: lightgray;
}

.blog-post {
    background-color: azure;
    max-width: 800px;
    margin: 2.5% auto;
    padding: 1.2%;
    box-sizing: border-box;
    box-shadow: 0 0 20px gray;
}


/* BUTTON related changes */

button {
    height: 100px;
    width: 200px;
    margin-top:5px;
    margin-bottom:5px;
}

button:disabled {
    height: 100px;
    width: 200px;
    filter: brightness(25%);
}

button:enabled {
  filter: brightness(75%);
}

button:enabled:hover {
    height: 100px;
    width: 200px;
    filter: brightness(100%);
}

img {
    float:left;
}
